# Ambiente virtual 
venv/ 
.env
 
# Cache do Python 
__pycache__/ 
*.py[cod] 
*$py.class 

# Arquivos de build 
build/ 
dist/ 
*.egg-info/ 

# IDEs e editores 
.vscode/ 
.idea/ 

# Logs 
*.log 

# Arquivos do sistema 
.DS_Store 
Thumbs.db